/**
 * 下拉选择框样式
 * 
 * @author  Yang,junlong at 2016-06-12 15:13:35 build.
 * @version $Id$
 */
.mi-select {
  min-width: 120px;
}
.mi-select .dropdown-toggle {
  box-shadow: 0 1px 0px #cacaca, 0 1px 2px 1px #e4e4e4;
  width: 100%;
  padding: 2px 5px;
  border: none;
  text-align: left;
  font-size: 12px;
}
.mi-select .dropdown-menu {
  font-size: 12px;
}
.mi-select .dropdown-menu li a {
  padding: 3px 8px;
  cursor: pointer;
}
