/**
 * 字体图标样式
 * 
 * @author  Yang,junlong at 2016-08-22 13:59:06 build.
 * @version $Id$
 */
.jumbotron-icon {
  padding: 30px 0 25px;
  background-color: #eee;
  color: #222;
  border-bottom-color: #d1d1d1;
  border-top-color: #f7f7f7;
}
.jumbotron-icon h1 {
  text-shadow: 0 1px 0 #fff;
  font-size: 24px;
  color: #666;
}
.jumbotron-icon .info-icons {
  font-size: 14px;
}
.jumbotron-icon .fa-6 {
  font-size: 6em;
}
.jumbotron-icon .fa-5 {
  font-size: 5em;
}
.jumbotron-icon .fa-4 {
  font-size: 4em;
}
.jumbotron-icon .fa-3 {
  font-size: 3em;
}
.jumbotron-icon .fa-2 {
  font-size: 2em;
}
.iconcode {
  font-size: 20px;
}
.iconcode pre {
  padding: 20px;
}
.notes {
  margin-top: 10px;
}
